html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Open Sans,
    ProximaNova, Hanson;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, small {
  color: #fff;
}

.ant-menu .ant-menu-submenu .ant-menu-inline {
  background-color: #0f0f0f;
  color: #fff;
}

.ant-menu-submenu-arrow::before {
  background: #fff !important;
}
.ant-menu-submenu-arrow::after {
  background: #fff !important;
}

.site-layout {
  background: #262626;
}